[color]
	ui = true
[user]
	email = epickaimail@gmail.com
	name = FrogInABox
[credential]
	helper = cache --timeout=3600
[push]
	default = simple
[merge]
	tool = fugitive
[mergetool "fugitive"]
	cmd = gvim -f -c \"Gdiff\" \"$MERGED\"
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
[core]
	editor = vim
[mergetool]
	prompt = false
