[color]
	ui = true
[user]
	email = kai.leddy@cambridgeconsultants.com
	name = Kai Leddy
[credential]
	helper = cache --timeout=3600
[push]
	default = simple
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
[core]
	editor = nvim -u ~/.config/nvim/slim.vim
[diff]
	indentHeuristic = true
	tool = meld
[http]
	emptyauth = 1
	postBuffer = 2097152000
[https]
	postBuffer = 2097152000
[pull]
	rebase = true
[merge]
	tool = meld
[difftool "meld"]
	path = /Users/KCL2/.config/git-diff-meld.sh
[svn]
	rmdir = true
[fetch]
    prune = true
