[color]
	ui = true
[user]
	email = epickaimail@gmail.com
	name = Kai Leddy
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
	pager = delta
[init]
	defaultBranch = main
[push]
	default = current
	followTags = true
[pull]
	rebase = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[diff]
	algorithm = histogram
	indentHeuristic = true
	colorMoved = default
	mnemonicPrefix = true
	renames = true
[delta]
	syntax-theme = Monokai Extended
	line-numbers = true
	navigate = true
  hyperlinks = true
	side-by-side = false
	pager = less -RS
	# styling
	file-decoration-style = ""
	hunk-header-style = "syntax"
	hunk-header-file-style = "cyan"
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictstyle = zdiff3
[pretty]
	loggraph = "format:'%Cred%h%Creset -%C(yellow)%d%Creset %<(50,trunc)%s %Cgreen(%cr)%C(bold blue)<%an>%Creset'"
[alias]
	lg = log --color --graph --pretty=loggraph --abbrev-commit
	graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
	tidy = "!git remote prune origin ; git branch --merged main | grep -v '^[ *]*main$' | xargs git branch -d"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[help]
	autocorrect = prompt
[commit]
	verbose = true
[rerere]
	enabled = true
	autoupdate = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
