#!/bin/bash

# Log stdout and stderr to file
exec &> /tmp/xprofile.log

echo $1

# Make bspwm & sxhkd play nice with(out) fish shell
export SXHKD_SHELL='/usr/bin/sh'

# Load the correct driver for hardware video acceleration
export LIBVA_DRIVER_NAME=iHD

# start the light-locker daemon for screen locking with LightDM
light-locker &
mopidy &

# Handle window manager choice
case $1 in
  bspwm)
     sxhkd -s /tmp/sxhkd.fifo &
     greenclip daemon &
     compton -b
     wmname LG3D
     ;;
esac
