#!/bin/bash

# Log stdout and stderr to file
exec &> /tmp/xprofile.log

echo "$1"

# Make bspwm & sxhkd play nice with(out) fish shell
export SXHKD_SHELL='/usr/bin/sh'

# Fucking Java GUI applications...
export _JAVA_AWT_WM_NONREPARENTING=1

# Load the correct driver for hardware video acceleration
export LIBVA_DRIVER_NAME=iHD

# start the ssh-agent and add keys
eval $(ssh-agent)
ssh-add ~/.ssh/id_rsa_personal

# start services that are needed by all window managers
light-locker &
dropbox &
greenclip daemon &
$(yarn global bin)/eslint_d start

# Handle window manager choice
case $1 in
  bspwm)
     sxhkd -s /tmp/sxhkd.fifo &
     (sleep 2 && btops) &
     compton -b
     wmname LG3D
     ;;
esac
