[color]
	ui = true
[user]
	email = epickaimail@gmail.com
	name = Kai Leddy
[push]
	default = simple
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %<(50,trunc)%s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
[core]
	editor = emacsclient
	excludesfile = /home/kai/.gitignore_global
[diff]
	indentHeuristic = true
[pull]
	rebase = true
[svn]
	rmdir = true
[fetch]
	prune = true

# Setup delta for diffs
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[delta]
    syntax-theme = Monokai Extended
	line-numbers = true
    navigate = true
	pager = bat
	# styling
	file-decoration-style = ""
	hunk-header-style = "file syntax"
	hunk-header-file-style = "cyan"
[interactive]
    diffFilter = delta --color-only
