[color]
	ui = true
[user]
	email = epickaimail@gmail.com
	name = Kai Leddy
[core]
	editor = emacsclient
	excludesfile = ~/.gitignore_global
	pager = delta
[init]
	defaultBranch = main
[push]
	default = current
	followTags = true
[pull]
	rebase = true
[fetch]
	prune = true
	pruneTags = true
[diff]
	algorithm = histogram
	indentHeuristic = true
	colorMoved = default
[delta]
	syntax-theme = Monokai Extended
	line-numbers = true
	navigate = true
	side-by-side = false
	pager = less -RS
	# styling
	file-decoration-style = ""
	hunk-header-style = "syntax"
	hunk-header-file-style = "cyan"
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictstyle = diff3
[pretty]
	loggraph = "format:'%Cred%h%Creset -%C(yellow)%d%Creset %<(50,trunc)%s %Cgreen(%cr)%C(bold blue)<%an>%Creset'"
[alias]
	lg = log --color --graph --pretty=loggraph --abbrev-commit
	graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
	tidy = "!git remote prune origin ; git branch --merged main | grep -v '^[ *]*main$' | xargs git branch -d"
